/* RESET */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}





/* MAIN */
main{
    width: 100%;
}

main .big-container{
    width: 100%;
    height: calc(100vh - 90px);
    display: flex;
    /* background-color: red; */
}

main .big-container > *{
    height: 100%
}

main .big-container .navigation{
    width: 230px;
    background-color: black;
}

main .big-container .content{
    width: calc(100% - 230px);
    overflow: auto;
    background-color: rgb(25, 29, 37);
    color: white;
}

main .big-container .cta{
    /* height: 70px; */
    position: sticky;
    top: 0;
    z-index: 30;
    text-align: right;
    padding: 30px;
    background-color: rgba(0, 0, 0, 0.5);
}
main .big-container .cta > a{
    color: white;
    text-decoration: none;
    border: 1px solid white;
    border-radius: 20px;
    padding: 10px 30px;
}

main .big-container .content .content-nav{
    width: 55%;
    min-height: 40px;
    margin: 0 auto;
    line-height: 40px;
    /* background-color: yellow; */
}
main .big-container .content .content-nav ul li{
    list-style: none;
}
main .big-container .content .content-nav ul li > a{
    text-decoration: none;
    color: gray;
}
section:not(.content){
    width: 100%;
    padding: 15px;
}
section .row{
    width: 100%;
    margin-top: 30px;
    /* background-color: gold; */
}
section h2{
    font-size: 1.9em;
}
section p{
    font-size: 0.9em;
    color: gray;
    margin-top: 10px;
}
section .row .col{
    width: calc((100% / 6) - 15px);
    /* height: 250px; */
    /* height: calc(100vw / 6); */
    /* background-color: skyblue;
    border: 1px solid black; */
    margin-right: 15px;
    /* margin-bottom: 20px; */
    position: relative;
}
/* section .row .col > .overlay{
    width: 100%;
    height: 180px;
    background-color: yellow;
    position: absolute;
    top: 0;
} */

section .row .col > .artist{
    text-align: center;
    padding-top: 10px;
}
section .row .col > .artist > div{
    padding-top: 7px;
    font-size: 0.9em;
    color: gray;
}
#popular-artists .row .col img{
    border-radius: 50%;
}
#popular-artists .row .col{
    padding-bottom: 30px;
}

/* main .big-container .content {
    width: calc(100% / 6);
} */



/* FOOTER */
footer{

}
footer .player{
    height: 90px;
    background-color: #282828;
    display: flex;
    justify-content: space-between;
    color: white;
}

footer .player > *{
    background-color: plum;
    padding: 30px;
}




/* MEDIA QUERY */
@media screen and (max-width: 1100px){
  
    #recently .row .col{
        width: calc((100% / 4) - 15px);
        margin-bottom: 50px;
    }
    
}
@media screen and (max-width: 700px){
   
    #recently .row .col{
        width: calc((100% / 2) - 15px);
        margin-bottom: 50px;
    }
    
}
@media screen and (max-width: 600px){
    
    #recently .row .col{
        width: calc((100% / 4) - 15px);
        margin-bottom: 50px;
    }
    /* main .big-container .navigation{
        width: 50px;
    }
    main .big-container .content{
        width: calc(100% - 50px);
    } */
    
}








/* RESET */

/******************** ASIDE ********************/


/***** HEADER LATERALE *****/


/***** CONTENUTO PRINCIPALE ASIDE *****/

/***** FOOTER LATERALE *****/


/******************** FINE ASIDE ********************/


/******************** MAIN ********************/

/********** HEADER **********/


/********** NAV **********/


/***** CONTENUTO PRINCIPALE MAIN *****/


/******************** FINE MAIN ********************/


/******************** FOOTER ********************/

/* MEDIA QUERY */
/* @media screen and (max-width: 1100px){
    .row .col{
        width: calc((100% / 4) - 10px);
    }
    
}
@media screen and (max-width: 700px){
    .row .col{
        width: calc((100% / 2) - 10px);
    }
    
}
@media screen and (max-width: 600px){
    .row .col{
        width: calc((100% / 4) - 10px);
    }
    main .big-container .navigation{
        width: 50px;
    }
    main .big-container .content{
        width: calc(100% - 50px);
    }
    
} */