/* RESET */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/******************** ASIDE ********************/


/***** HEADER LATERALE *****/


/***** CONTENUTO PRINCIPALE ASIDE *****/


/***** FOOTER LATERALE *****/


/******************** FINE ASIDE ********************/


/******************** MAIN ********************/


/********** HEADER **********/
/* #main-header{
    width: 80vw;
    min-height: 10vh;
    background-color: grey;
} */


/********** NAV **********/


/***** CONTENUTO PRINCIPALE MAIN *****/


/******************** FINE MAIN ********************/


/******************** FOOTER ********************/